html{
    min-height: 100%;
    position: relative;}

.fav-btn{
    width: 30px;
    height: 30px;
    background-color: #3e5bcf;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    font-size: 12px;
}

.app{
    height: 100%;
    background-color: #3e5bcf;
    background-image: url("../../public/movie-theater.jpg");
    background-size: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}