.navbar{
    background-color: #1f2d67 !important;


}
.logo{
    width: 3vw;
}
.logo-offcanvas{
    width: 10vw;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}

.nav-link {
    color: #fff;
}



.searchbar-input{
    background: rgba(16, 16, 16, 0.25) !important;
    box-shadow: 0 40px 60px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 2.0px );
    border-radius: 16px !important;
   color: #fff !important;
}

.searchbar-input::placeholder{
    color: #fff !important;
}

.searchbar-btn{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}


@media (max-width: 600px){


    .logo{
        width: 10vw;
    }

    .nav-link{
        color: #1f2d67;
        text-decoration: none;
        margin-bottom: 2rem;
    }
}
