
.login{
  height: 100%;
  padding-top: 9.5%;

}
.login div{
    
  margin: 0 auto;
  
  width: 400px;
  height: 500px;
  padding-top: 5%;
  
  /* transform: translate(-50%, -50%); */
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.login div h2{
    text-align: center;
    color: #fff;
}

.login div input{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login div button{
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-top: 20%;
    border: none;
    background-color: #3e5bcf;
    color: #fff;
}


@media (max-width: 600px){

  .login div h2{
    text-align: center;
    color: #fff;
    margin-bottom: 10%;
}


  .login div input{
    width: 80%;
    margin-left: 10%;
    padding: 20px 0;
    font-size: 8vw;
    color: #fff;
    margin-bottom: 20vw;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

  .login div{
    
    margin: 0 auto;
    
    width: 80vw;
    height: 80vh;
    padding-top: 40%;
    
  }
  .login{
    height: 89vh;
    padding-top: 9.5%;
  
  }

}